
// section color variables
$bg-purple: #5c6bc0;
$bg-green: #66bb6a;
$bg-blue: #42a5f5;
$bg-yellow: #ffa726;
$bg-pink: #ffa726;
$bg-old-gold: #c0ca33;
$bg-battery-charged: #26c6da;
$bg-purple-plum: #ab47bc;
:root{
    // background colors variables
    --dark: hsl(0, 0%, 0%);
    --grey-white:hsl(0, 6%, 88%);
}